<!-- start here -->

<div class="card">
    <h5 class="card-header card-heade">Know Us</h5>
    <div class="card-body">
        <h5 class="card-title color">Jaago Bharat primarily aims to bring the deplorable condition of Our Environment,
            Water bodies, Waste management and Education, in the forefront.</h5>
            <ul>
        <li><p class="card-text">Around 660 metric tonnes of municipal waste is generated every day in Noida. It includes
            wet waste, paper waste , plastic waste, electronic waste and it goes on to include all other kinds of waste
            which are dumped together. Our team is working towards the solution of this waste problem, to provide some
            easy techniques and methods for the people .</p></li>
        <li><p class="card-text">Water level has been decreasing drastically and could lead to a crisis if not halted. We
            are approaching every society and apartments to insist them to install rainwater harvesting system.</p></li>
        <li><p class="card-text">To achieve our dream of being a developed nation education is the key as our great leader
            Mahatma Gandhi once said, “Education is the basic tool for the development of consciousness and the
            reconstitution of society.</p></li>
        <li><p class="card-text">Social media has now become the biggest part of our life, apart from Facebook, Twitter and
            Instagram page we also have our youtube channel named as “Jaago Bharat Front” and had made various short
            films on different issues like Ragging, Disability, Education, Women empowerment etc.</p></li>
        <li><p class="card-text"> And, last but not the least, we need to realize that if Fundamental Rights is the Heart of
            a Democracy, Fundamental Duties are its Soul.</p></li>
        </ul>
        <h5 class="card-title color">Jaago Bharat was established to bring in the forefront the issues which are
            relevant for any developed society/nation but are left out in oblivion. </h5>
        </div>
</div>
<!-- card ends -->
<!-- yt video starts -->
<div class="card-header mt-4 youtube" style="text-align: center; ">
    <a href="https://www.youtube.com/channel/UC6sY-ifFONZcA_xO5Lqng6w" target="blank">Some Youtube Videos</a>
</div>

<div class="row" style="width: 100%; margin-top: 0%;">
    <div class="col-sm-6" id="colum">
        <div class="card mt-4">
            <iframe width="560" class="card-img-top" height="315" src="https://www.youtube.com/embed/07bJb4pxylU"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text" id="texts">This video is about a child who is suffering from Parkinson's disease and how the
                    world treats him. It shows the very little knowledge and awareness people have about this disease.
                    People need to understand that people suffering from such diseases too have a right to live in this
                    world peacefully and respectfully. </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6" id="colum">
        <div class="card mt-4">
            <iframe width="560" class="card-img-top" height="315" src="https://www.youtube.com/embed/xr2CL9u327w"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <div class="card-body">
                <p class="card-text" id="texts">This video does not only points to the road safety but more importantly on child's
                    education. As they saying goes, "one's education not starts from school but from home itself".
                    Parents should be careful on what they say to & in front of their children, as it might become a
                    part of their child's character.</p>
            </div>
        </div>
    </div>
</div>
<!-- yt video ends -->